node_modules/
dist/
npm-debug.log

.yarn/*
.pnp.*
yarn-error.log
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

.env
.granite
.swc
.DS_Store

# 빌드 산출물
*.ait

# 작업 백업 폴더
*.backup/

